<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/home">
      <ng-icon name="hugeHome03" size="1.25rem"></ng-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transactions" href="/transactions">
      <ng-icon name="hugeNote05" size="1.25rem"></ng-icon>
      <ion-label>{{ 'transactions' | translate | titlecase }}</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <button
        type="button"
        class="grid size-12 place-items-center rounded-full bg-primary-500 text-center text-sm font-medium text-white hover:bg-primary-600 focus:outline-none focus:ring-4 focus:ring-primary-100 dark:bg-primary-600 dark:hover:bg-primary-500 dark:focus:ring-primary-600"
      >
        <ng-icon slot="icon-only" name="hugeAddCircleHalfDot" size="1.5rem"></ng-icon>
      </button>
    </ion-tab-button>

    <ion-tab-button tab="reports" href="/reports">
      <ng-icon name="hugeChartLineData02" size="1.25rem"></ng-icon>
      <ion-label>{{ 'reports' | translate | titlecase }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/settings">
      <ng-icon name="hugeSettings03" size="1.25rem"></ng-icon>
      <ion-label>{{ 'settings' | translate | titlecase }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
