<ion-header mode="md" class="page-header border-b border-surface-100 dark:border-surface-800">
  <ion-toolbar>
    <div class="ion-padding flex items-center justify-between gap-3 py-0">
      <div class="flex items-center">
        <button
          routerLink="/auth/registration"
          routerDirection="back"
          class="ion-activatable relative grid aspect-square size-8 place-items-center overflow-hidden rounded-full duration-300 active:text-primary-500"
        >
          <ng-icon name="lucideChevronLeft" size="1.3rem"></ng-icon>
          <ion-ripple-effect class="text-primary-500"></ion-ripple-effect>
        </button>
      </div>
      <div class="flex-1">
        <h2 class="line-clamp-1 text-lg font-bold">
          {{ 'registration.title' | translate | titlecase }}
        </h2>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-content">
  <form [formGroup]="registerCompanyForm" (ngSubmit)="submit()">
    <div class="ion-padding my-2 min-h-[84vh] w-full bg-white dark:bg-surface-950">
      <div class="flex flex-col py-4">
        <h2 class="text-xl font-bold text-surface-dark dark:text-surface-100">
          {{ 'registration.register-company.title' | translate }}
        </h2>
        <p class="text-sm text-surface-800 dark:text-surface-300">
          {{ 'registration.register-company.subtitle' | translate }}
        </p>
      </div>
      <div class="flex flex-col gap-4">
        <div class="w-full">
          <label for="company-name" class="mb-2 block text-sm font-medium text-surface-dark dark:text-white">
            {{ 'registration.company-name.label' | translate }}
          </label>
          <input
            type="text"
            id="company-name"
            class="form-control form-input w-full"
            formControlName="company_name"
            [placeholder]="'registration.company-name.placeholder' | translate"
            [ngClass]="{
              'form-invalid':
                registerCompanyForm.get('company_name')?.invalid && registerCompanyForm.get('company_name')?.touched,
            }"
            [maxLength]="255"
          />
          @if (
            registerCompanyForm.get('company_name')?.hasError('required') &&
            registerCompanyForm.get('company_name')?.touched
          ) {
            <p class="mt-1 text-sm text-red-500">
              {{ 'forms.validation.required' | translate }}
            </p>
          }
        </div>
        <div class="w-full">
          <label for="outlet-name" class="mb-2 block text-sm font-medium text-surface-dark dark:text-white">
            {{ 'registration.outlet-name.label' | translate }}
          </label>
          <input
            type="text"
            id="outlet-name"
            class="form-control form-input w-full"
            formControlName="outlet_name"
            [placeholder]="'registration.outlet-name.placeholder' | translate"
            [ngClass]="{
              'form-invalid':
                registerCompanyForm.get('outlet_name')?.invalid && registerCompanyForm.get('outlet_name')?.touched,
            }"
            [maxLength]="255"
          />
          @if (
            registerCompanyForm.get('outlet_name')?.hasError('required') &&
            registerCompanyForm.get('outlet_name')?.touched
          ) {
            <p class="mt-1 text-sm text-red-500">
              {{ 'forms.validation.required' | translate }}
            </p>
          }
        </div>
        <div class="w-full">
          <label for="outlet-phone-number" class="mb-2 block text-sm font-medium text-surface-dark dark:text-white">
            {{ 'registration.outlet-phone.label' | translate }}
          </label>
          <input
            type="tel"
            id="outlet-phone-number"
            class="form-control form-input w-full"
            formControlName="outlet_phone"
            [placeholder]="'registration.outlet-phone.placeholder' | translate"
            [ngClass]="{
              'form-invalid':
                registerCompanyForm.get('outlet_phone')?.invalid && registerCompanyForm.get('outlet_phone')?.touched,
            }"
            [maxLength]="100"
          />
          @if (
            registerCompanyForm.get('outlet_phone')?.hasError('required') &&
            registerCompanyForm.get('outlet_phone')?.touched
          ) {
            <p class="mt-1 text-sm text-red-500">
              {{ 'forms.validation.required' | translate }}
            </p>
          }
        </div>
        <div class="w-full">
          <label for="outlet-address" class="mb-2 block text-sm font-medium text-surface-dark dark:text-white">
            {{ 'registration.outlet-address.label' | translate }}
          </label>
          <textarea
            id="outlet-address"
            rows="3"
            class="form-control form-input w-full resize-none"
            formControlName="outlet_address"
            [placeholder]="'registration.outlet-address.placeholder' | translate"
            [ngClass]="{
              'form-invalid':
                registerCompanyForm.get('outlet_address')?.invalid &&
                registerCompanyForm.get('outlet_address')?.touched,
            }"
          ></textarea>
          @if (
            registerCompanyForm.get('outlet_address')?.hasError('required') &&
            registerCompanyForm.get('outlet_address')?.touched
          ) {
            <p class="mt-1 text-sm text-red-500">
              {{ 'forms.validation.required' | translate }}
            </p>
          }
        </div>
      </div>
    </div>
  </form>
</ion-content>

<ion-footer mode="md">
  <ion-toolbar class="ion-no-padding">
    <div class="ion-padding w-full">
      <button
        type="button"
        class="ion-activatable relative grid h-10 w-full place-items-center overflow-hidden rounded-lg bg-primary-500 px-5 text-sm font-bold text-white focus:outline-none disabled:bg-primary-400"
        [disabled]="isSubmitting"
        (click)="submit()"
      >
        @if (isSubmitting) {
          <ion-spinner class="size-4" color="light"></ion-spinner>
        } @else {
          <span>{{ 'registration.button.register' | translate | titlecase }}</span>
        }
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
