<ion-header mode="md" class="page-header border-b border-surface-100 dark:border-surface-850">
  <ion-toolbar>
    <div class="ion-padding flex items-center justify-between gap-3 py-0">
      <div class="flex items-center">
        <button
          routerLink="/"
          routerDirection="back"
          class="ion-activatable relative grid aspect-square size-8 place-items-center overflow-hidden rounded-full duration-300 active:text-primary-500"
        >
          <ng-icon name="lucideChevronLeft" size="1.3rem"></ng-icon>
          <ion-ripple-effect class="text-primary-500"></ion-ripple-effect>
        </button>
      </div>
      <div class="flex-1">
        <h2 class="line-clamp-1 text-lg font-bold">
          {{ 'customers' | translate | titlecase }}
        </h2>
      </div>
      <div class="flex items-center">
        <div
          class="ion-activatable relative flex items-center gap-2 overflow-hidden rounded-[50rem] border border-surface-150 bg-slate-50 px-3 py-1 pl-1 dark:border-surface-850 dark:bg-surface-900"
        >
          <div class="grid aspect-square size-6 place-items-center rounded-full bg-tertiary-500 text-white">
            <ng-icon name="hugeStoreLocation02" size="0.9rem"></ng-icon>
          </div>
          <div class="w-14 max-w-16">
            <p class="line-clamp-1 text-sm font-semibold text-surface-800 dark:text-surface-200">Outlet 1</p>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" [scrollY]="false" class="page-content">
  <div class="relative flex min-h-screen flex-col pb-14">
    <div
      class="ion-padding sticky inset-x-0 top-0 z-10 flex w-full items-center justify-between gap-3 border-b border-surface-100 bg-surface-light dark:border-surface-850 dark:bg-surface-950"
    >
      <div class="relative flex-1">
        <div class="absolute bottom-0 left-0 top-0 grid w-10 place-items-center">
          <ng-icon name="hugeSearch01" class="text-surface-700 dark:text-surface-500"></ng-icon>
        </div>
        <input
          type="search"
          id="search"
          class="block w-full rounded-lg border border-surface-200 bg-slate-50 p-2.5 pl-9 text-sm text-gray-900 focus:border-primary-200 focus:ring-primary-200 dark:border-surface-850 dark:bg-surface-900 dark:text-white dark:placeholder-surface-600 dark:focus:border-primary-200 dark:focus:ring-primary-200"
          placeholder="Search something..."
          required
        />
      </div>
      <button
        type="button"
        class="ion-activatable relative grid size-10 place-items-center overflow-hidden rounded-lg bg-primary-500 text-center text-sm font-medium text-white focus:outline-none focus:ring-primary-100 dark:bg-primary-600 dark:hover:bg-primary-500"
      >
        <ng-icon slot="icon-only" name="hugeFilterHorizontal" size="1.15rem"></ng-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </div>
    <ion-content class="page-content flex-1">
      <!-- Refresher -->
      <ion-refresher slot="fixed" class="z-[2]">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <!-- ! Refresher -->
      <div class="ion-padding grid gap-3">
        @for (item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track $index) {
          <div
            class="ion-activatable relative flex flex-col overflow-hidden rounded-lg border border-surface-100 bg-white shadow-sm dark:border-surface-850 dark:bg-surface-950"
          >
            <div class="flex items-start justify-between gap-3 p-3">
              <div class="w-fit">
                <div class="grid aspect-square size-12 place-items-center rounded-full bg-primary-500 text-white">
                  <ng-icon name="hugeUser" size="1.5rem" class="text-white"></ng-icon>
                </div>
              </div>
              <div class="flex flex-1 flex-col">
                <h6 class="line-clamp-2 text-base font-bold">John Doe</h6>
                <p class="line-clamp-1 flex items-center gap-1 text-sm text-surface-800 dark:text-surface-300">
                  <ng-icon name="hugeWhatsapp"></ng-icon>
                  <span>089530713889</span>
                </p>
              </div>
              <div class="flex items-center gap-3">
                <ng-icon name="hugeMoreHorizontal" size="1.25rem"></ng-icon>
              </div>
            </div>
            <div class="w-full">
              <hr class="w-full border-surface-100 dark:border-surface-850" />
            </div>
            <div class="flex items-start justify-between p-3">
              <div class="flex flex-1 flex-col items-start justify-center">
                <label class="text-sm font-semibold">Balance</label>
                <p class="text-sm text-surface-800 dark:text-surface-300">10.000,00</p>
              </div>
              <div class="flex flex-1 flex-col items-start justify-center">
                <label class="text-sm font-semibold">Last activity</label>
                <p class="text-sm text-surface-800 dark:text-surface-300">24/01/2024</p>
              </div>
            </div>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        }
      </div>
    </ion-content>
  </div>
</ion-content>
