<ion-header mode="md" class="page-header -mb-1">
  <ion-toolbar>
    <div class="ion-padding flex items-center justify-between gap-3 py-0">
      <div class="flex-1">
        <h2 class="text-lg font-bold">
          {{ 'settings' | translate | titlecase }}
        </h2>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-content -mt-1">
  <div class="flex min-h-screen flex-col pb-8">
    <div class="ion-padding -mb-16 w-full bg-primary-500 pb-16">
      <div class="flex items-center gap-4">
        <img src="https://i.pravatar.cc/300" class="aspect-square h-14 w-14 rounded-full object-cover" />
        <div class="flex flex-1 flex-col">
          <h6 class="line-clamp-2 text-lg font-bold text-white">Virgiawan Listiyandi</h6>
          <p class="flex items-center gap-2 text-sm text-surface-50">
            <ng-icon name="lucideMail"></ng-icon>
            <span>{{ 'listiyandiv@gmail.com' }}</span>
          </p>
        </div>
        <a routerLink="/" class="px-3">
          <ng-icon class="text-white" name="lucideSettings" size="1.25rem"></ng-icon>
        </a>
      </div>
    </div>
    <div class="ion-padding grid">
      <div
        class="grid w-full divide-y divide-surface-100 overflow-hidden rounded-lg border border-surface-100 bg-white shadow-sm dark:divide-surface-900 dark:border-surface-900 dark:bg-surface-950"
      >
        <div class="flex items-center gap-4 p-3">
          <div class="grid size-16 place-items-center rounded-lg bg-primary-500 text-white">
            <ng-icon name="lucideStore" size="1.75rem"></ng-icon>
          </div>
          <div class="flex flex-1 flex-col">
            <h5 class="text-base font-bold">Bintaro Sektor 3</h5>
            <p class="line-clamp-2 text-sm text-surface-800 dark:text-surface-300">
              Jl. Bintaro Sektor 3 no. 10, Rengas, Tangerang Banten
            </p>
          </div>
        </div>
      </div>

      <div class="pb-3 pt-4">
        <h5 class="text-sm font-semibold text-surface-900 dark:text-surface-400">
          {{ 'outlet settings' | translate | titlecase }}
        </h5>
      </div>
      <div
        class="grid w-full divide-y divide-surface-100 overflow-hidden rounded-lg border border-surface-100 bg-white shadow-sm dark:divide-surface-900 dark:border-surface-900 dark:bg-surface-950"
      >
        <a class="ion-activatable relative flex w-full items-center justify-start gap-3 overflow-hidden px-3 py-3.5">
          <div class="grid w-8 place-items-center">
            <ng-icon class="text-surface-800 dark:text-surface-200" name="lucideStore" size="1.25rem"></ng-icon>
          </div>
          <div class="flex-1 text-surface-800 dark:text-surface-300">
            <p>{{ 'outlet' | translate | titlecase }}</p>
          </div>
          <div class="grid w-8 place-items-center">
            <ng-icon class="text-surface-800 dark:text-surface-200" name="lucideChevronRight"></ng-icon>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </a>
        <a class="ion-activatable relative flex w-full items-center justify-start gap-3 overflow-hidden px-3 py-3.5">
          <div class="grid w-8 place-items-center">
            <ng-icon class="text-surface-800 dark:text-surface-200" name="lucideUserCog" size="1.25rem"></ng-icon>
          </div>
          <div class="flex-1 text-surface-800 dark:text-surface-300">
            <p>{{ 'employees' | translate | titlecase }}</p>
          </div>
          <div class="grid w-8 place-items-center">
            <ng-icon class="text-surface-800 dark:text-surface-200" name="lucideChevronRight"></ng-icon>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </a>
        <a class="ion-activatable relative flex w-full items-center justify-start gap-3 overflow-hidden px-3 py-3.5">
          <div class="grid w-8 place-items-center">
            <ng-icon
              class="text-surface-800 dark:text-surface-200"
              name="lucideWashingMachine"
              size="1.25rem"
            ></ng-icon>
          </div>
          <div class="flex-1 text-surface-800 dark:text-surface-300">
            <p>{{ 'service types' | translate | titlecase }}</p>
          </div>
          <div class="grid w-8 place-items-center">
            <ng-icon class="text-surface-800 dark:text-surface-200" name="lucideChevronRight"></ng-icon>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </a>
        <a class="ion-activatable relative flex w-full items-center justify-start gap-3 overflow-hidden px-3 py-3.5">
          <div class="grid w-8 place-items-center">
            <ng-icon class="text-surface-800 dark:text-surface-200" name="lucideShirt" size="1.25rem"></ng-icon>
          </div>
          <div class="flex-1 text-surface-800 dark:text-surface-300">
            <p>{{ 'services' | translate | titlecase }}</p>
          </div>
          <div class="grid w-8 place-items-center">
            <ng-icon class="text-surface-800 dark:text-surface-200" name="lucideChevronRight"></ng-icon>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </a>
        <a class="ion-activatable relative flex w-full items-center justify-start gap-3 overflow-hidden px-3 py-3.5">
          <div class="grid w-8 place-items-center">
            <ng-icon class="text-surface-800 dark:text-surface-200" name="lucideUsers" size="1.25rem"></ng-icon>
          </div>
          <div class="flex-1 text-surface-800 dark:text-surface-300">
            <p>{{ 'customers' | translate | titlecase }}</p>
          </div>
          <div class="grid w-8 place-items-center">
            <ng-icon class="text-surface-800 dark:text-surface-200" name="lucideChevronRight"></ng-icon>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </a>
        <a class="ion-activatable relative flex w-full items-center justify-start gap-3 overflow-hidden px-3 py-3.5">
          <div class="grid w-8 place-items-center">
            <ng-icon class="text-surface-800 dark:text-surface-200" name="lucideBoxes" size="1.25rem"></ng-icon>
          </div>
          <div class="flex-1 text-surface-800 dark:text-surface-300">
            <p>{{ 'add ons' | translate | titlecase }}</p>
          </div>
          <div class="grid w-8 place-items-center">
            <ng-icon class="text-surface-800 dark:text-surface-200" name="lucideChevronRight"></ng-icon>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </a>
      </div>
      <div class="pb-3 pt-4">
        <h5 class="text-sm font-semibold text-surface-900 dark:text-surface-400">
          {{ 'app settings' | translate | titlecase }}
        </h5>
      </div>
      <div
        class="grid w-full divide-y divide-surface-100 overflow-hidden rounded-lg border border-surface-100 bg-white shadow-sm dark:divide-surface-900 dark:border-surface-900 dark:bg-surface-950"
      >
        <a class="ion-activatable relative flex w-full items-center justify-start gap-3 overflow-hidden px-3 py-3.5">
          <div class="grid w-8 place-items-center">
            <ng-icon class="text-surface-800 dark:text-surface-200" name="lucideLanguages" size="1.25rem"></ng-icon>
          </div>
          <div class="flex-1 text-surface-800 dark:text-surface-300">
            <p>{{ 'language' | translate | titlecase }}</p>
          </div>
          <div class="grid w-8 place-items-center">
            <ng-icon class="text-surface-800 dark:text-surface-200" name="lucideChevronRight"></ng-icon>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </a>
        <a class="ion-activatable relative flex w-full items-center justify-start gap-3 overflow-hidden px-3 py-3.5">
          <div class="grid w-8 place-items-center">
            <ng-icon class="text-surface-800 dark:text-surface-200" name="lucideSunMoon" size="1.25rem"></ng-icon>
          </div>
          <div class="flex-1 text-surface-800 dark:text-surface-300">
            <p>{{ 'theme' | translate | titlecase }}</p>
          </div>
          <div class="grid w-8 place-items-center">
            <ng-icon class="text-surface-800 dark:text-surface-200" name="lucideChevronRight"></ng-icon>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </a>
        <a class="ion-activatable relative flex w-full items-center justify-start gap-3 overflow-hidden px-3 py-3.5">
          <div class="grid w-8 place-items-center">
            <ng-icon class="text-surface-800 dark:text-surface-200" name="lucideInfo" size="1.25rem"></ng-icon>
          </div>
          <div class="flex-1 text-surface-800 dark:text-surface-300">
            <p>{{ 'about' | translate | titlecase }}</p>
          </div>
          <div class="grid w-8 place-items-center">
            <ng-icon class="text-surface-800 dark:text-surface-200" name="lucideChevronRight"></ng-icon>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </a>
      </div>
      <div class="pb-3 pt-4">
        <h5 class="text-sm font-semibold text-surface-900 dark:text-surface-400">
          {{ 'logout' | translate | titlecase }}
        </h5>
      </div>
      <div
        class="grid w-full divide-y divide-surface-100 overflow-hidden rounded-lg border border-surface-100 bg-white shadow-sm dark:divide-surface-900 dark:border-surface-900 dark:bg-surface-950"
      >
        <a
          class="ion-activatable relative flex w-full items-center justify-start gap-3 overflow-hidden px-3 py-3.5"
          (click)="openLogoutConfirmation()"
        >
          <div class="grid w-8 place-items-center">
            <ng-icon class="text-surface-800 dark:text-surface-200" name="lucideLogOut" size="1.25rem"></ng-icon>
          </div>
          <div class="flex-1 text-surface-800 dark:text-surface-300">
            <p>{{ 'logout' | translate | titlecase }}</p>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </a>
      </div>
    </div>
  </div>

  <!-- Logout Loading -->
  <ion-loading [isOpen]="isLoggingOut" [message]="'settings.logout.loading' | translate"></ion-loading>
  <!-- ! Logout Loading -->
</ion-content>
