<ion-header mode="md" class="page-header">
  <ion-toolbar>
    <div class="ion-padding flex items-center justify-between py-0">
      <div class="flex-1">
        <h2 class="text-lg font-bold">
          {{ 'transactions' | translate | titlecase }}
        </h2>
      </div>
      <div class="flex items-center">
        <div
          class="ion-activatable relative flex items-center gap-2 overflow-hidden rounded-[50rem] border border-surface-150 bg-surface-50 px-3 py-1 pl-1 dark:border-surface-850 dark:bg-surface-900"
        >
          <div class="grid aspect-square size-6 place-items-center rounded-full bg-secondary-500 text-white">
            <ng-icon name="hugeStoreLocation02" size="0.9rem"></ng-icon>
          </div>
          <div class="w-14 max-w-16">
            <p class="line-clamp-1 text-sm font-semibold text-surface-800 dark:text-surface-200">Outlet 1</p>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" [fixedSlotPlacement]="true" [scrollY]="false" class="page-content">
  <div class="relative flex min-h-screen flex-col">
    <div
      class="sticky inset-x-0 top-0 z-10 border-b border-surface-100 bg-surface-light dark:border-surface-900 dark:bg-surface-950"
    >
      <ion-segment
        mode="md"
        [(ngModel)]="activeTabIndex"
        [scrollable]="true"
        [selectOnFocus]="true"
        [swipeGesture]="true"
        (ngModelChange)="onSegmentTabChange($event)"
      >
        <ion-segment-button [value]="0">
          <ion-label>In Queue</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="1">
          <ion-label>In Progress</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="2">
          <ion-label>Ready To Take</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="3">
          <ion-label>Ready to deliver</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="4">
          <ion-label>Completed</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="5">
          <ion-label>Canceled</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div class="flex-1">
      <swiper-container #tabSwiper appSwiper [modules]="swiperModules" (swiperslidechange)="onSlideChange($event)">
        <swiper-slide>
          <ion-content [fullscreen]="true" class="page-content min-h-screen">
            <!-- Refresher -->
            <ion-refresher slot="fixed" class="z-[2]">
              <ion-refresher-content></ion-refresher-content>
            </ion-refresher>
            <!-- ! Refresher -->
          </ion-content>
        </swiper-slide>
        <swiper-slide>
          <ion-content [fullscreen]="true" class="page-content min-h-screen">
            <!-- Refresher -->
            <ion-refresher slot="fixed" class="z-[2]">
              <ion-refresher-content></ion-refresher-content>
            </ion-refresher>
            <!-- ! Refresher -->
          </ion-content>
        </swiper-slide>
        <swiper-slide>
          <ion-content [fullscreen]="true" class="page-content min-h-screen">
            <!-- Refresher -->
            <ion-refresher slot="fixed" class="z-[2]">
              <ion-refresher-content></ion-refresher-content>
            </ion-refresher>
            <!-- ! Refresher -->
          </ion-content>
        </swiper-slide>
        <swiper-slide>
          <ion-content [fullscreen]="true" class="page-content min-h-screen">
            <!-- Refresher -->
            <ion-refresher slot="fixed" class="z-[2]">
              <ion-refresher-content></ion-refresher-content>
            </ion-refresher>
            <!-- ! Refresher -->
          </ion-content>
        </swiper-slide>
        <swiper-slide>
          <ion-content [fullscreen]="true" class="page-content min-h-screen">
            <!-- Refresher -->
            <ion-refresher slot="fixed" class="z-[2]">
              <ion-refresher-content></ion-refresher-content>
            </ion-refresher>
            <!-- ! Refresher -->
          </ion-content>
        </swiper-slide>
        <swiper-slide>
          <ion-content [fullscreen]="true" class="page-content min-h-screen">
            <!-- Refresher -->
            <ion-refresher slot="fixed" class="z-[2]">
              <ion-refresher-content></ion-refresher-content>
            </ion-refresher>
            <!-- ! Refresher -->
          </ion-content>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</ion-content>
